/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
  margin: 0 auto;
  padding: 0px;
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.header {
  background-color: #ffffff;
  margin-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  width: 1154px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo a {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 16px;
}

/* "WEB" */
.logo a span:first-child {
  color: #4d5ae5;
  width: 44px;
}

/* "STUDIO"  */
.logo a span:last-child {
  color: #2e2f42;
  width: 71px;
}

/* Navigation */
.nav-list {
  list-style: none;
  display: flex;
  gap: 76px;
}

.nav-item a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 400px;
}

.nav-item a:hover {
  color: #404bbf;
}

.contact-item .contact-label {
  font-weight: bold;
}

.contact-info a {
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.contact-info a:hover {
  color: #404bbf;
}

section {
  padding: 0 0 96px;
}

.section {
  background-color: #ffffff;
  width: 1154px;
  margin: 0 auto;
}

/* Hero Section */
.hero {
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0;
  width: 496px;
}

/* Hero Section */
.btn {
  padding: 16px 32px;
  gap: 10px;
  margin-top: 64px;
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #404bbf;
}

/* Features Section */
.features {
  background-color: #ffffff;
  margin-bottom: 96px;
}

.features-list {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 1128px;
  height: 104px;
}

.feature-item {
  max-width: 264px;
  height: 104px;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
}

.feature-title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: left;
  width: 264px;
  height: 24px;
}

.feature-description {
  font-size: 16px;
  color: #434455;
  text-align: left;
  width: 264px;
  height: 72px;
}

/* Team Section */
.team.section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: 156px;
  margin-right: 156px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.team-member {
  text-align: center;
  flex: 1 1 264px;
  max-width: 264px;
}

.team-member img {
  width: 100%;
  height: auto;
}

.team-member-name {
  font-size: 20px;
  margin-top: 15px;
  color: #2e2f42;
}

.team-member-role {
  font-size: 16px;
  color: #434455;
}

/* Portfolio Section */
.portfolio.section {
  background-color: #ffffff;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  height: 1000px;
  left: 156px;
  top: 1868px;
  margin: 0 auto;
}

.portfolio-item {
  width: 30%;
  margin-bottom: 48px;
  box-sizing:border-box;
  border-bottom: 2px solid #e7e9fc;
}

.portfolio-title {
  font-size: 20px;
  margin-top: 32px;
}

.portfolio-description {
  font-size: 16px;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2d2f36;
  color: #ffffff;
  width: 1154px;
  margin: 0 auto;
}

.footer-content {
  text-align: left;
  width: 264px;
}

.footer-content a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* "WEB"*/
.footer-content a span:first-child {
  color: #4d5ae5;
}

/* "STUDIO"*/
.footer-content a span:last-child {
  color: #ffffff;
}

.footer-content p {
  font-size: 16px;
  margin-top: 10px;
  color: #ffffff;
}
