/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
  margin: 0 auto;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: #434455;
  font-style: normal;
  text-decoration: none;
}
.container {
  width: 1154px;
  max-width: 1440px;

  margin: 0 141px;
}
header {
  /* Top Line */

  width: 1154px;
  height: 72px;
  border: 1px;
  border-bottom: #e7e9fc;
  background-color: #ffffff;
}
.div-header {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  justify-content: space-between;
}
.menu-logo {
  /* Logo */

  /* Auto layout */
  display: inline;
  flex-direction: row;

  padding: 0;

  flex-grow: 1;
}
.a-logo {
  text-decoration: none;
  float: inline-start;
  width: 270px;
  height: 21px;
  padding-left: 141px;
}
span.logo-web {
  /* Web */

  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
span.logo-stud {
  /* Studio */

  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: inline-block;
  align-items: last center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.menu-nav {
  /* Menu Nav */

  /* Auto layout */
  display: inline;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;

  padding: 0px;
  gap: 40px;
}
.menu-nav ul {
  display: inline;
}

.menu-nav li {
  /* Studio */
  /* Portfolio */
  /* Contacts */

  height: 24px;
  display: inline-flex;
  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
nav li.menu-studio {
  width: 48px;
}
nav li.menu-portfolio {
  width: 66px;
}
nav li.menu-contacts {
  width: 67px;
}
.menu-nav li:hover a {
  color: #404bbf;
}
.menu-nav li a:active {
  color: #404bbf;
}
.link-studio {
  text-decoration: none;
  color: #2e2f42;
}
.link-portfolio {
  text-decoration: none;
  color: #2e2f42;
}
.link-contacts {
  text-decoration: none;
  color: #2e2f42;
}
.address {
  flex-grow: 1;
  display: flex;
}
.email {
  flex-grow: 1;
  font-weight: 400;
}
.tel {
  flex-grow: 1;
  font-weight: 400;
}

/* Hero Section */
.hero-section {
  min-height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0;

  padding: 188px 329px;
}

/* Hero Section */
.btn {
  padding: 16px 32px;
  gap: 10px;
  margin-top: 64px;
  display: block;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  cursor: pointer;
  margin-top: -125px;
  margin-left: 495px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  border: none;
}

.btn:hover {
  background-color: #404bbf;
}

/* Features Section */
.features-section {
  background-color: #ffffff;
  margin-bottom: 96px;
  padding: 120px 0;
}

.features-list {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 1154px;
  height: 104px;
  margin-left: 156px;
}

.feature-item {
  max-width: 264px;
  height: 104px;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: left;
  width: 264px;
  height: 24px;
}

.feature-description {
  font-size: 16px;
  color: #434455;
  text-align: left;
  width: 264px;
  height: 72px;
}

/* Team Section */
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  padding: 120px 0;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0;
}

.team-member {
  text-align: center;
  flex: 1 1 264px;
  max-width: 264px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  height: auto;
}

.team-member-info {
  padding: 32px 0;
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.team-member img {
  width: 100%;
  height: auto;
}

.team-member-name {
  font-size: 20px;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-member-role {
  font-size: 16px;
  color: #434455;
  text-align: center;
}

/* Portfolio Section */
.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  height: 1000px;
  left: 156px;
  top: 1868px;
  margin: 0 auto;
  row-gap: 48px;
}

.portfolio-item {
  margin-bottom: 48px;
  box-sizing: border-box;
  width: calc((100% - 72px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-size: 20px;
  margin-top: 32px;
}

.portfolio-description {
  font-size: 16px;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  padding-left: 156px;
  padding-bottom: 100px;
  background-color: #2d2f36;
  color: #ffffff;
  padding: 100px 0;
}

.footer-content {
  text-align: left;
  width: 264px;
  margin-left: 156px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* "WEB"*/
.footer-content a span:first-child {
  color: #4d5ae5;
}

/* "STUDIO"*/
.footer-content a span:last-child {
  color: #ffffff;
}

.footer-description {
  max-width: 264px;
  font-size: 16px;
  margin-top: 10px;
  color: #ffffff;
}
